<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>消息内容</li>
    </ul>
    </div>
       <form id="myform" action={:U("admin/message/message_add")} method='post'>
    <div class="formbody">
    <ul class="forminfo">
          <li><label>发布者 </label> <input type="text" class='dfinput' readonly="readonly" value="{$_SESSION['admin_name']}" placeholder="发布者 / Sender" name='sendname'></li>
          <li><label>消息标题 </label> <input type="text" class='dfinput'  id="title" placeholder="消息标题 / Message Title" name='title'></li>
          <li><label>消息内容 </label> <textarea name="" cols="" rows="" class="textinput" id="messcontent" name='messcontent' placeholder="消息内容 / Message Content"></textarea></li>
          <li><label>消息类型</label>
           <div class="vocation">    
                    <select  name="messtype" id="messtype" class="select3" >
                       <option value="0">系统通知</option>
                    </select>
            </div>
          </li>
         


    <li><label>&nbsp;</label>
        <button type="button" onclick="submitCheck()" class="btn">发送</button>
    </li>
    </ul>
    
    
    </div>
</form>
<script type="text/javascript">
  //选择所属栏目
  function submitCheck(){
     var title = document.getElementById("title").value;
     var messcontent = document.getElementById("messcontent").value;
    if(title ==""){
      alert("请填写消息标题！");
      return false;
    }
    if(messcontent == ""){
      alert("请填写消息内容！");
      return false;
    }
    $("#myform").submit();
  }

</script>
</body>

</html>
