<include file="Index:css"/>
  <!-- sidebar start -->
 <div class="am-cf admin-main">
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">消息列表</strong> / <small>Message List</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
            <in name="del_all" value="$hava_authids">
              <input type="button" value="批量删除" onclick="getAll()"/>
            </in>
            <in name="add_show" value="$hava_authids">
              <a href={:U("admin/message/add_show")}><button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 发送信息</button></a>
            </in>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th><input type="checkbox" name="all" id="all" onclick="checkall(this)"/>全选</th>
                <th class="table-title">序号</th>
                <th class="table-title">内容</th>
                <th class="table-author">发送目标</th>
                <th class="table-author">发送时间</th>
                <th class="table-author">发送人</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="message_list" item="vo" key="k" >
            <tr>
              <td><input type="checkbox"  name="ids" value="{$vo.id}"/></td>
              <td>{$k+1}</td>
              <td>{$vo.m_content|msubstr=0,12,'utf-8',true}
              </td>
              <td><if condition="$vo.m_target eq 'all'">全体用户<else/>多个用户</if></td>
              <td>{$vo.m_date|date='Y-m-d',###}</td>
              <td>{$vo.m_user}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                  <in name="look_show" value="$hava_authids">
                    <!-- <a href={:U('Admin/message/look_show',array('id'=>$vo['id']))}><span class="am-icon-pencil-square-o"></span> 查看  </a>|&nbsp; -->
                  </in>
                  <in name="message_del" value="$hava_authids">
                    <a href={:U('Admin/message/message_del',array('id'=>$vo['id']))}><span class="am-icon-trash-o"></span> 删除</a>
                  </in>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
            
          </tbody>
        </table>

    {$page}

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<include file="Index:footer"/>
<script type="text/javascript">
  /*
     *全选按钮，prop方法，是给ipnut框添加属性的
    */
    function checkall(obj){
      if(obj.checked){
        $("input[name='ids']").prop("checked", true);
      }else{
        $("input[name='ids']").prop("checked", false);
      }
    }

    function getAll(){
      if($("input[name='ids']:checked").val() == null){
        alert("请选择要删除的列表！");
        return false;
      }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
              checked.push($(this).val());
          });
        var checkStr = checked.join(",");
        var url = "{:U('admin/message/del_all')}?ids="+checkStr;
        window.location.href=url;
      }
    }

</script>