<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<include file="Index:css"/>
  <!-- sidebar start -->
 <div class="am-cf admin-main">
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">消息列表</strong> / <small>Message List</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
            <in name="add_show" value="$hava_authids">
              <a href={:U("admin/message/add_show")}><button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button></a>
            </in>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-title">类型ID</th>
                <th class="table-title">消息标题</th>
                <th class="table-author">发送者</th>
                <th class="table-author">消息类型</th>
                <th class="table-author">发送时间</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="message_list" item="vo" key="k" >
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.title}</td>
              <td>{$vo.sendname}</td>
              <if condition="$vo.messtype eq '0'">
                  <td>系统通知</td>
                <else/>
                  <td>订单通知</td>
              </if>
              <td>{$vo.messagetime|date='Y-m-d',###}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                  <in name="look_show" value="$hava_authids">
                    <a href={:U('Admin/message/look_show',array('id'=>$vo['id']))}><span class="am-icon-pencil-square-o"></span> 查看  </a>|&nbsp;
                  </in>
                  <in name="message_del" value="$hava_authids">
                    <a href={:U('Admin/message/message_del',array('id'=>$vo['id']))}><span class="am-icon-trash-o"></span> 删除</a>
                  </in>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
            
          </tbody>
        </table>

    {$page}

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<include file="Index:footer"/>