<include file="Index:css"/>
<script type="text/javascript">
   //提交
    function checkPost(){
      var reg_date = $("#txtBeginDate").val();
      var reg_date2 = $("#txtEndDate").val();
      var m_content = $("#m_content").val();
      if(reg_date != "" && reg_date2 == ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 != ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 == "" && m_content == ""){
          alert("请填写筛选条件!");
          return false;
      }
      $("#mySearch").submit();
    }

</script>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">消息列表</a></li>
    </ul>
    </div>
    <div class="rightinfo">
    
    <div class="tools">
      <ul class="toolbar">
        <in name="del_all" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
      </in>
      </ul>
      <ul class="toolbar">
      <in name="add_show" value="$hava_authids">
        <li class="click"><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/message/add_show")}>发送信息</a></li>
      </in>
      </ul>
        <in name="search" value="$hava_authids">
          <form id="mySearch" action="{:U('admin/message/search')}" method="post">
            <ul class="toolbar">
              <li><label>日期范围</label>
              起<input id="txtBeginDate" name="reg_date" value="{$reg_date}" style="width:170px;padding:7px 10px;border:1px solid #ccc;margin-right:10px;"/>
              至<input id="txtEndDate" name="reg_date2" value="{$reg_date2}" style="width:170px;padding:7px 10px;border:1px solid #ccc;" />
              </li>
              <li>
                <input type="text" class='scinput' id="m_content" placeholder="内容" value="{$m_content}" name='m_content'/>
              </li>
              <li><label>&nbsp;</label><input type="button" onclick="checkPost();" class="scbtn" value="搜索"/></li>
            </ul>
          </form>
        </in>
    
    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
       <th><input type="checkbox" name="all" id="all" onclick="checkall(this)"/></th>
                <th>序号</th>
                <th>内容</th>
                <th>发送目标</th>
                <th>发送时间</th>
                <th>发送人</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="message_list" item="vo" key="k" >
          
            <tr>
              <td><input type="checkbox"  name="ids" value="{$vo.id}"/></td>
              <td>{$k+1}</td>
              <td>{$vo.m_content|msubstr=0,12,'utf-8',true}</td>
              <td><if condition="$vo.m_target eq 'all'">全体用户<else/>多个用户</if></td>
              <td>{$vo.m_date|date='Y-m-d',###}</td>
              <td>{$vo.m_user}</td>
              
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                <in name="look_show" value="$hava_authids">
                    <!-- <a href={:U('Admin/message/look_show',array('id'=>$vo['id']))}>查看  </a>|&nbsp; -->
                  </in>
                  <in name="message_del" value="$hava_authids">
                    <a href={:U('Admin/message/message_del',array('id'=>$vo['id']))}> 删除</a>
                  </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}

    <div class="tip">
      <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
          <span><img src="images/ticon.png" /></span>
          <div class="tipright">
          <p>是否确认对信息的修改 ？</p>
          <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
          </div>
          </div>
          <div class="tipbtn">
          <input name="" type="button"  class="sure" value="确定" />&nbsp;
          <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>

    
    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<script type="text/javascript">
  /*
     *全选按钮，prop方法，是给ipnut框添加属性的
    */
    function checkall(obj){
      if(obj.checked){
        $("input[name='ids']").attr("checked", true);
      }else{
        $("input[name='ids']").attr("checked", false);
      }
    }

    function getAll(){
      if($("input[name='ids']:checked").val() == null){
        alert("请选择要删除的列表！");
        return false;
      }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
              checked.push($(this).val());
          });
        var checkStr = checked.join(",");
        var url = "{:U('admin/message/del_all')}?ids="+checkStr;
        window.location.href=url;
      }
    }

</script>