<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Index:css"/>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> / <small>Personal information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
       

      </div>

       <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form id="myForm" class="am-form am-form-horizontal" action={:U('admin/account/account_edit')} method='post'>
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">账户名 / account</label>
            <div class="am-u-sm-9">
              <input type="text" id="account-name" placeholder="账户名 / account" name='account' value="{$account_info.account}">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">密码 / password</label>
            <div class="am-u-sm-9">
              <input type="password" id="account-password" placeholder="输入密码 / Password" name='password'>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">员工姓名 / employee</label>
            <div class="am-u-sm-9">
              <input type="text" id="user-employee" placeholder="员工姓名 / employee" name='employee'
              value="{$account_info.employee}">
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">添加人 / add_person</label>
            <div class="am-u-sm-9">
              <input type="text" id="pr_psw_tel" placeholder="添加人 / add_person" name='add_person' value="{$account_info.add_person}"/>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">是否启用 / status</label>
            <div class="am-u-sm-9">
              <select  name="status" >
                <if condition="$account_info.status eq 'stop'">
                  <option value="stop" selected="true">否</option>
                  <option value="start" >是</option>
                  <elseif condition="$account_info.status eq 'start'"/>
                  <option value="stop" >否</option>
                  <option value="start" selected="true">是</option>
                </if>
              </select>
            </div>
          </div>
          <input type="hidden" name="id" value="{$account_info.id}"/>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="button" onclick="checkall()" class="am-btn am-btn-primary">保存修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<include file="Index:footer"/>
<script type="text/javascript">
    function checkall(){
          var account_name = $("#account-name").val();   //获得用户填写的号码值 赋值给变量phone
          var account_password = $("#account-password").val(); 
          var user_employee = $("#user-employee").val(); 
          if(account_name == ""){ 
              alert("请正确填写账户名！");
              return false;     
          }else if(account_password == ""){
              alert("请正确填写密码!");
              return false;
          }else if(user_employee == ""){
              alert("请填写员工姓名!");
              return false;
          }
          $("#myForm").submit();
  }

</script>