<include file="Index:css"/>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
  //全选
    function checkall(obj){
        if(obj.checked){
          $("input[name='ids']").prop("checked", true);
        }else{
          $("input[name='ids']").prop("checked", false);
        }
      }

    function getAll(){
      if($("input[name='ids']:checked").val() == null){
        alert("请选择要删除的列表！");
        return false;
      }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
              checked.push($(this).val());
          });
        var checkStr = checked.join(",");
        var url = "{:U('admin/account/del_all')}?ids="+checkStr;
        window.location.href=url;
      }
    }

</script>



<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">账户管理</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
      
      <ul class="toolbar">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
      </ul>
      
    	<ul class="toolbar">
		  <in name="account_add_show" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/account/account_add_show")}>新增</a></li>
      </in>
      </ul>
        
        
      <ul class="toolbar1">
        <!-- <li><span><img src="__PUBLIC__/admin/images/t05.png" /></span>设置</li> -->
      </ul>
    
    </div>
    
    <table class="tablelist">
    	<thead>
    	<tr>
       <th><input type="checkbox" name="all" id="all" onclick="checkall(this)"/></th>
                <th>序号</th>
                <th>账号</th>
                <th>角色</th>
                <th>员工姓名</th>
                <th>添加人</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="admin_list" item="vo" key="k" >
          
            <tr>
              <td><if condition="$vo.id neq 1"><input type="checkbox"  name="ids" value="{$vo.id}"/></if></td>
              <td>{$k+1}</td>
              <td>{$vo.account}</td>
              <td>{$rolelist[$k].role_name}</td>
              <td>{$vo.employee}</td>
              <td>{$vo.add_person}</td>
              <td>{$vo.add_date|date='Y-m-d',###}</td>
              <td><if condition="$vo.status eq 'start'">启用<else/>停用</if></td>
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="account_role_show" value="$hava_authids">
                    <a href={:U('admin/account/account_role_show',array('id'=>$vo['id']))}> 授予角色</a>&nbsp;|&nbsp;
                  </in> 
                  <in name="account_edit_show" value="$hava_authids">
                   <a  href={:U('admin/account/account_edit_show',array('id'=>$vo['id']))}> 编辑  </a>&nbsp;|&nbsp;
                  </in>
                  <in name="account_del" value="$hava_authids">
                   <if condition="$vo.id neq 1">
                      <a  href={:U('admin/account/account_del',array('id'=>$vo['id']))}> 删除</a>
                   </if>
                  </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}

    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
          <span><img src="images/ticon.png" /></span>
          <div class="tipright">
          <p>是否确认对信息的修改 ？</p>
          <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
          </div>
          </div>
          <div class="tipbtn">
          <input name="" type="button"  class="sure" value="确定" />&nbsp;
          <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>

    
    </div>
    
  <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>
<include file="Index:footer"/>
