<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息管理系统</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>个人资料</li>
    </ul>
    </div>
       <form id="myForm" action={:U('admin/account/account_add')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
          <li><label>账户名 </label> <input type="text" class='dfinput' id="account-name" placeholder="账户名 / account" name='account'></li>
           <li><label>密码 </label> <input type="password" class='dfinput' id="account-password" placeholder="输入密码 / Password" name='password'></li>
            <li><label>员工姓名 </label> <input type="text" class='dfinput' id="user-employee" placeholder="员工姓名 / employee" name='employee'></li>
             <li><label>添加人 </label> <input type="text" class='dfinput' id="pr_psw_tel" placeholder="添加人 / add_person" name='add_person' value="{$_SESSION['admin_name']}"></li>
          <li><label>是否启用</label>
           <div class="vocation">    
                    <select  name="status" class="select3" >
                      <option value="stop">否</option>
                <option value="start" selected="true">是</option>
                    </select>
            </div>
          </li>
          

    <li><label>&nbsp;</label>
        <button type="button" onclick="checkall()" class="btn">保存修改</button>
    </li>
    </ul>
    
    
    </div>
</form>
<script type="text/javascript">
  function checkall(){
          var account_name = $("#account-name").val();   //获得用户填写的号码值 赋值给变量phone
          var account_password = $("#account-password").val(); 
          var user_employee = $("#user-employee").val(); 
          if(account_name == ""){ 
              alert("请正确填写账户名！");
              return false;     
          }else if(account_password == ""){
              alert("请正确填写密码!");
              return false;
          }else if(user_employee == ""){
              alert("请填写员工姓名!");
              return false;
          }
          $("#myForm").submit();
  }
</script>
</body>

</html>
