<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>授予角色</li>
    </ul>
    </div>
       <form id="myForm" action={:U('admin/account/account_role')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
             <li><label>用户名 </label> <if condition="$account_info['account'] eq 'admin'">
                  <input type="text" class="dfinput"  placeholder="输入账户名 / Account_name" name='account' disabled="disabled" value='{$account_info.account}'>
                  <else/>
                  <input type="text" class="dfinput"  placeholder="输入账户名 / Account_name" name='account'  value='{$account_info.account}'>
              </if></li>
          <li><label>角色</label>
           <div class="vocation"> 
            <select  name="role" class="select3" >   
                     <if condition="$account_info.role eq ''">
                      <option value="0"  selected="selected">请选择角色</option>
                      <foreach name="roleInfo" item="vo" key="k" >  
                            <option value="{$vo.role_id}" >{$vo.role_name}</option>
                      </foreach>
                      <else/>
                      <option value="0">请选择角色</option>
                      <foreach name="roleInfo" item="vo" key="k" >  
                        <if condition="$vo.role_id eq $account_info['role']">
                            <option value="{$vo.role_id}" selected="selected">{$vo.role_name}</option>
                          <else/>
                            <option value="{$vo.role_id}" >{$vo.role_name}</option>
                        </if>
                      </foreach>
                    </if>
                    </select>
            </div>
          </li>
          

    <li><label>&nbsp;</label>
    <input type="hidden"  name='id' value='{$account_info.id}'>
       <button type="submit" class="btn">授予角色</button>
    </li>
    </ul>
    
    
    </div>
</form>
</body>

</html>
