<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/admin/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">

    
    <dl class="leftmenu">
        


        <foreach name="auth_infoA" item="vo" key="k" >
            <dd>
                <div class="title">
                <span><img src="__PUBLIC__/admin/images/leftico0{$k+1}.png" /></span>{$vo.auth_name}
                </div>
                <ul class="menuson" style="display: none">
                    <foreach name="auth_infoB" item="vv" key="k" >
                        <if condition="$vv['auth_pid'] eq $vo['auth_id']">
                            <li><cite></cite>
                                <a href="../{$vv.auth_c}/{$vv.auth_a}" target="rightFrame">{$vv.auth_name}</a>
                                <i></i>
                            </li>
                        </if>
                    </foreach>
                </ul>    
            </dd>
        </foreach>

   <!--  <dd>
    <div class="title">
    <span><img src="__PUBLIC__/admin/images/leftico01.png" /></span>系统管理
    </div>
    	<ul class="menuson" style="display: none">
        <li><cite></cite><a href={:U("admin/system/update")} target="rightFrame">系统设置</a><i></i></li>
        <li><cite></cite><a href={:U("admin/data/data_list")} target="rightFrame">数据字典</a><i></i></li>    
        <li><cite></cite><a href={:U("admin/dictionary/dictionary_list")} target="rightFrame">字典类型</a><i></i></li>
        <li><cite></cite><a href={:U("admin/advice/advice_list")} target="rightFrame">用户反馈</a><i></i></li>
		<li><cite></cite><a href={:U("admin/backup/backup_list")} target="rightFrame">数据备份</a><i></i></li>
		<li><cite></cite><a href={:U("admin/log/log_list")} target="rightFrame">日志管理</a><i></i></li>
        <li><cite></cite><a href={:U("admin/message/message_list")} target="rightFrame">消息管理</a><i></i></li> 
        </ul>    
    </dd>
        
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/admin/images/leftico02.png" /></span>用户管理
    </div>
    <ul class="menuson">
        <li><cite></cite><a href={:U("admin/member/admin_list")} target="rightFrame">管理员用户</a><i></i></li>
        <li><cite></cite><a href={:U("admin/member/businessman_list")} target="rightFrame">商家用户</a><i></i></li>
        <li><cite></cite><a href={:U("admin/member/member_list")} target="rightFrame">普通用户</a><i></i></li>
        </ul>     
    </dd> 
     <dd>
    <div class="title">
    <span><img src="__PUBLIC__/admin/images/leftico02.png" /></span>权限管理
    </div>
        <ul class="menuson">
            <li><cite></cite><a href={:U("admin/role/role_list")} target="rightFrame">角色列表</a><i></i></li>
            <li><cite></cite><a href={:U("admin/auth/auth_list")} target="rightFrame">权限列表</a><i></i></li>
        </ul>     
    </dd> 
    <dd><div class="title"><span><img src="__PUBLIC__/admin/images/leftico03.png" /></span>商品服务管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="{:U("admin/category/category_list")}" target="rightFrame">服务(商品)分类</a><i></i></li>
        <li><cite></cite><a href="{:U("admin/servers/servers_list")}" target="rightFrame">服务（商品）列表</a><i></i></li>
		  <li><cite></cite><a href="{:U("admin/coupon/coupon_list")}" target="rightFrame">优惠券</a><i></i></li>
        <li><cite></cite><a href={:U("admin/comment/comment_list")} target="rightFrame">评价列表</a><i></i></li>
        <li><cite></cite><a href={:U("admin/area/area_list")} target="rightFrame">库房列表</a><i></i></li>
    </ul>    
    </dd>  
    
    <dd><div class="title"><span><img src="__PUBLIC__/admin/images/leftico04.png" /></span>订单管理</div>
    <ul class="menuson">
        <li><cite></cite><a href={:U("admin/order/order_list")} target="rightFrame">订单列表</a><i></i></li>
        <li><cite></cite><a href={:U("admin/order/order_appolist")} target="rightFrame">预约列表</a><i></i></li>
    </ul>
    
    </dd>  


    <dd><div class="title"><span><img src="__PUBLIC__/admin/images/leftico04.png" /></span>内容管理</div>
    <ul class="menuson">
        <li><cite></cite><a href={:U("admin/channel/channel_list")} target="rightFrame">栏目列表</a><i></i></li>
        <li><cite></cite><a href={:U("admin/content/content_list")} target="rightFrame">内容列表</a><i></i></li>
        <li><cite></cite><a href={:U("admin/Banner/banner_list")} target="rightFrame">幻灯管理</a><i></i></li>
    </ul>
    
    </dd>    
 -->
    </dl>

</body>
</html>
