<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>



<body style="background:url(__PUBLIC__/admin/images/topbg.gif) repeat-x;">

    <div class="topleft">
    <a href="{:U('admin/index/index')}" target="_blank"><img src="__PUBLIC__/admin/images/logo.png" title="系统首页" /></a>
    </div>
            
    <div class="topright">    
  <ul>
    
    <li><span><img class="helpimg"/></span><!-- <a href="{:U('admin/index/index')}" >网站首页</a> --></li>
    <li><a href={:U("admin/login/logout")} target="_parent">退出</a></li>
    </ul>
     
   <div class="user">
    <span>{$_SESSION['admin_name']}</span>
    
    </div>    
    
    </div>
  
</body>

</html>
