<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <meta http-equiv="Cache-Control" content="no-siteapp" />

  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/assets/i/app-icon72x72@2x.png">

  <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css">
</head>
<body>





  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-g">
      <div class="am-u-sm-12">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg">
        <?php if(isset($message)) {?>
     <p class="success">:) <?php echo($message); ?></p>
     <?php }else{?>
     <p class="error">:( <?php echo($error); ?></p>
     <?php }?>
</h2>
        <p class="am-text-center"><a id="href" href="<?php echo($jumpUrl); ?>">如果你的浏览器没有自动跳转，请点击这里...</a></p><br />
        <p class="am-text-center">等待时间：<b id="wait"><?php echo($waitSecond); ?></b></p>
        <pre class="page-404">
        </pre>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>
     <script type="text/javascript">
     (function(){
     var wait = document.getElementById('wait'),href = document.getElementById('href').href;
     var interval = setInterval(function(){
     var time = --wait.innerHTML;
     if(time <= 0) {
     location.href = href;
     clearInterval(interval);
     };
     }, 1000);
     })();

     </script>
</body>
</html>
