<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
<script language="javascript">
  $(function(){
    $('.error').css({'position':'absolute','left':($(window).width()-490)/2});
  $(window).resize(function(){  
    $('.error').css({'position':'absolute','left':($(window).width()-490)/2});
    })  
});  
</script> 


</head>


<body style="background:#edf6fa;">

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">信息提示</a></li>
    </ul>
    </div>
    
    <div class="tech">
    <dl>    
    <?php if(isset($message)) {?>
    <dd  style="margin-left:115px; color: red;"><img src="__ROOT__/Public/admin/images/ok.png"> <b><?php echo($message); ?></b></dd>
     <?php }else{?>
     <dd  style="margin-left:250px; color: red;"><img src="__ROOT__/Public/admin/images/no.png"> <b><?php echo($error); ?></b></dd>
     <?php }?>
    <dd  style="margin-left:250px;"><a id="href" href="<?php echo($jumpUrl); ?>">如果你的浏览器没有自动跳转，请点击这里...</a></dd><br />
    <dd style="margin-left:250px;">等待时间：<b id="wait"><?php echo($waitSecond); ?></b></dd>
    </dl>
    
        
    </div>
    
 <script type="text/javascript">
     (function(){
     var wait = document.getElementById('wait'),href = document.getElementById('href').href;
     var interval = setInterval(function(){
     var time = --wait.innerHTML;
     if(time <= 0) {
     location.href = href;
     clearInterval(interval);
     };
     }, 1000);
     })();

     </script>

</body>

</html>
