

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Index:css"/>
  <!-- sidebar end -->
  <style type="text/css">
  .admin-content{
    height: 3000px;
  }
ul{overflow:hidden;width:100%;}
ul li{width:33.33%;float:left;}
                 </style>
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">分配权限</strong> / <small>Distribute</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
       

      </div>

       <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form id="myForm" class="am-form am-form-horizontal" action={:U('admin/role/distribute_role')} method='post'>
          <div style="font-size: 13px; margin: 10px 5px;">
            <h4>角色&nbsp;[&nbsp;{$role_info.role_name}&nbsp;]</h4>
          
              
              <foreach name="auth_infoA" item="vo" key="k" >  
              <ul  class="am-list am-list-static">
                    <in name="vo.auth_id" value="$have_auth_arr">
                       <li> <input type='checkbox' name='ids' onclick="checkAll(this,{$vo.auth_id})" value='{$vo.auth_id}'checked='checked'> <b>{$vo.auth_name} </b></li> 
                      <else/>
                        <li><input type='checkbox' id="check{$vo.auth_id}" name='ids' onclick="checkAll(this,{$vo.auth_id})" value='{$vo.auth_id}'> <b>{$vo.auth_name} </b></li>
                    </in>
               </ul>
               
                    <ul id='li_style' class="am-list am-list-static am-list-border am-list-striped">
                      <foreach name="auth_infoB" item="vv" key="k" >
                          <if condition="$vv['auth_pid'] eq $vo['auth_id']">
                                <in name="vv.auth_id" value="$have_auth_arr">
                                  <li><input type='checkbox' id="childid{$vv.auth_pid}" name='ids' value='{$vv.auth_id}'checked='checked'>{$vv.auth_name}</li>
                                    <else/>
                                    <li>
                                      <input type='checkbox'id="childid{$vv.auth_pid}" name='ids' value='{$vv.auth_id}'>
                                    {$vv.auth_name}
                                  </li>
                                </in>
                          </if>
                      </foreach>
                    </ul>
              
         
               </foreach>
          
        </div>
          <input type="hidden"  name="role_id" value="{$role_info.role_id}">
          <input type="hidden" id="authids" name="authids" value=""/>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="button" onclick="getAll()" class="am-btn am-btn-primary">分配权限</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<include file="Index:footer"/>
<script data-cfasync="false" type="text/javascript">
  function checkAll(obj,index){
    if(obj.checked){
      $("input[id='childid"+index+"']").prop("checked", true);
    }else{
      $("input[id='childid"+index+"']").prop("checked", false);
    }

  }

  //获取被选择的ids
  function getAll(){
    if($("input[name='ids']:checked").val() == null){
        alert("请对该角色授权！");
        return false;
    }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
            checked.push($(this).val());
        });
        var checkStr = checked.join(",");
        $("#authids").val(checkStr);
        $("#myForm").submit();
        
    }

  }
  
</script>