<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>

<style type="text/css">
.forminfos{padding-left:43px;}
.forminfos li label{width:86px;line-height:34px; display:block; float:left;}
.forminfos li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfos li cite{display:block; padding-top:10px;}
.forminfos ul{overflow:hidden;width:100%;}
.forminfos li{width:33.33%;margin-bottom:13px;line-height:25px;float:left;}
</style>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>权限分配</li>

    </ul>
    </div>
       <form id="myForm" action={:U('admin/role/distribute_role')} method='post'>
    <div class="formbody">
   <foreach name="auth_infoA" item="vo" key="k" >  
              <ul  class="forminfos">
                    <in name="vo.auth_id" value="$have_auth_arr">
                       <li> <input type='checkbox' name='ids' onclick="checkAll(this,{$vo.auth_id})" value='{$vo.auth_id}'checked='checked'> <b><font color="red">{$vo.auth_name}</font></b></li> 
                      <else/>
                        <li><input type='checkbox' id="check{$vo.auth_id}" name='ids' onclick="checkAll(this,{$vo.auth_id})" value='{$vo.auth_id}'> <b><font color="red">{$vo.auth_name}</font></b></li>
                    </in>
               </ul>
                    <ul id='li_style' class="forminfos">
                      <foreach name="auth_infoB" item="vv" key="k" >
                          <if condition="$vv['auth_pid'] eq $vo['auth_id']">
                                <in name="vv.auth_id" value="$have_auth_arr">
                                  <li><input type='checkbox' id="childid{$vv.auth_pid}" name='ids' value='{$vv.auth_id}'checked='checked'>{$vv.auth_name}</li>
                                    <else/>
                                    <li>
                                      <input type='checkbox'id="childid{$vv.auth_pid}" name='ids' value='{$vv.auth_id}'>
                                    {$vv.auth_name}
                                  </li>
                                </in>
                          </if>
                      </foreach>
                    </ul>
               </foreach>
   
    
    <input type="hidden"  name="role_id" value="{$role_info.role_id}">
          <input type="hidden" id="authids" name="authids" value=""/>
       <button type="button" onclick="getAll()" class="btn">分配权限</button>
    </div>
</form>
<script data-cfasync="false" type="text/javascript">
  function checkAll(obj,index){
    if(obj.checked){
      $("input[id='childid"+index+"']").prop("checked", true);
    }else{
      $("input[id='childid"+index+"']").prop("checked", false);
    }

  }

  //获取被选择的ids
  function getAll(){
    if($("input[name='ids']:checked").val() == null){
        alert("请对该角色授权！");
        return false;
    }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
            checked.push($(this).val());
        });
        var checkStr = checked.join(",");
        $("#authids").val(checkStr);
        $("#myForm").submit();
        
    }

  }
  
</script>
</body>

</html>
