<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>编辑角色</li>

    </ul>
    </div>
       <form id="myForm" action={:U('admin/role/role_update')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
  
    <li><label>角色名称 </label> <input type="text" class='dfinput'  id="role-name" placeholder="角色名称 / RoleName" name='role_name'  value="{$role_info.role_name}"></li>
    <li><label>描述 </label> <input type="text" class='dfinput' id="role-remark" placeholder="描述 / role_remark" name='role_remark'  value="{$role_info.role_remark}" ></li>
    <li><label>是否启用</label>
     <div class="vocation">    
   <select  name="role_status"  class="select3" >
                  <if condition="$role_info.role_status eq 0">
                    <option value="0" selected="true">否</option>
                    <option value="1">是</option>
                    <else/>
                    <option value="0">否</option>
                    <option value="1" selected="true">是</option>
                  </if>
              </select>
              </div></li>

    <li><label>&nbsp;</label>
     <input type="hidden" name="role_id" value="{$role_info.role_id}"/>
        <button type="button" onclick="check()" class="btn">保存</button>
    </li>
    </ul>
    
    
    </div>
</form>
<script data-cfasync="false" type="text/javascript">
  function check(){
    var rolename = $("#role-name").val();
    var rolemark = $("#role-remark").val();
    if(trim(rolename).length == 0 ){
        alert("请填写角色名称！");
        return false;   
    }else if(trim(rolemark).length == 0){
        alert("请填写描述信息！");
        return false; 
    }else{
        $("#myForm").submit();
    }
   
  }
  //删除左右两端的空格
  function trim(str){ 
　　  return str.replace(/(^\s*)|(\s*$)/g, "");
　　}

$(document).ready(function(e) {

  $(".select3").uedSelect({
    width : 152
  });
});
</script>
</body>

</html>
