<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>字典类型</li>
    </ul>
    </div>
       <form id="myForm" action={:U('admin/dictionary/dictionary_add')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
          <li><label>字典类型 </label> <input type="text" class='dfinput' id="dictionary-name" placeholder="类型名称 / Name" name='dictionary'></li>
    <li><label>&nbsp;</label>
        <button type="button" onclick="check()" class="btn">保存</button>
    </li>
    </ul>
    
    
    </div>
</form>
<script data-cfasync="false" type="text/javascript">
    function check(){
      var chname = $("#dictionary-name").val();
      if(chname == ""){
        alert("类型名称不能为空！");
        return false;
      }
      document.getElementById("myform").submit();

    }

</script>
</body>

</html>
