<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>数据字典</li>
    </ul>
    </div>
       <form id="myForm" action={:U('admin/data/data_add')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
          <li><label>请选择数据类型</label>
           <div class="vocation">    
                 <select name="dicid" class="select3" id="dictypename" onchange="check(this)" >
                    <option value="">请选择数据类型</option>
                    <foreach name="dictype_list" item="vo" key="k" >
                        <option value="{$vo.id}" >{$vo.dictionary}</option>
                    </foreach>
                </select>
            </div>
          </li>
         
            <li><label>字典名称</label> <input type="text" class="dfinput"  id="data-name" placeholder="字典名称 / Name" name='dataname' onblur="trimcheck(this);"></li> 
           
    <li><label>&nbsp;</label>
        <button type="submit" onclick="submitCheck()" class="btn">保存</button>
    </li>
    </ul>
  
    </div>
</form>
<script type="text/javascript">
 //选择所属栏目
  function check(myselect){
     var name = myselect.options[myselect.selectedIndex].text;
        if(name =="请选择数据类型"){
            //不进行赋值
            return false;
        }else{
            document.getElementById("dictype").value=name;
        }

  }
  function trimcheck(obj){
    var trimvalue = trim(obj.value);
    obj.value = trimvalue;
    
  }
$(document).ready(function(e) {

  $(".select3").uedSelect({
    width : 152
  });
});
</script>
</body>

</html>
