
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<include file="Index:css"/>
  <!-- sidebar start -->
 <div class="am-cf admin-main">
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">交易列表</strong> / <small>Trade List</small></div>
    </div>
   
    <div class="am-g">
      <div class="am-u-sm-12">

        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">序号</th>
                <th class="table-title">交易编号</th>
                <th class="table-title">类型</th>
                <th class="table-title">礼物/房间名称</th>                 
                <th class="table-type">数量</th>
                <th class="table-author">合计</th>
                <th class="table-data">卖家</th>
                <th class="table-phone">卖家手机号</th>
                <th class="table-title">买家</th>                 
                <th class="table-type">买家手机号</th>
                <th class="table-author">支付方式</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="trade_list" item="vo" key="k" >
          
            <tr>
              <td>{$k+1}</td>
              <td>{$vo.trade_no}</td>
              <td>{$vo.trade_type}</td>
              <td>{$vo.trade_name}</td>
              <td>{$vo.trade_num}</td>
              <td>{$vo.trade_total}</td>
              <td>{$vo.seller_name}</td>
              <td>{$vo.seller_phone}</td>
              <td>{$vo.buyers_name}</td>
              <td>{$vo.buyers_phone}</td>
              <td>{$vo.pay_type}</td>
            </tr>
            </foreach>
            
          </tbody>
        </table>
    {$page}
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->
</div>
<include file="Index:footer"/>
