<include file="Index:css"/>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">交易列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">

     <!--  <ul class="toolbar">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
      </ul>
      
      <ul class="toolbar">
      <in name="account_add_show" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/account/account_add_show")}>新增</a></li>
      </in>
      </ul>
        
        
      <ul class="toolbar1">
        <li><span><img src="__PUBLIC__/admin/images/t05.png" /></span>设置</li>
      </ul>
     -->
    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
                <th>序号</th>
                <th>交易编号</th>
                <th>类型</th>
                <th>礼物/房间名称</th>
                <th>数量</th>
                <th>合计</th>
                <th>卖家</th>
                <th>卖家手机号</th>
                <th>买家</th>
                <th>买家手机号</th>
                <th>支付方式</th>
                
        </tr>
        </thead>
        <tbody>
      <foreach name="trade_list" item="vo" key="k" >
          
            <tr>
              <td>{$k+1}</td>
              <td>{$vo.trade_no}</td>
              <td>{$vo.trade_type}</td>
              <td>{$vo.trade_name}</td>
              <td>{$vo.trade_num}</td>
              <td>{$vo.trade_total}</td>
              <td>{$vo.seller_name}</td>
              <td>{$vo.seller_phone}</td>
              <td>{$vo.buyers_name}</td>
              <td>{$vo.buyers_phone}</td>
              <td>{$vo.pay_type}</td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}
  </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<include file="Index:footer"/>