
<include file="Index:css"/>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">权限列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
      <ul class="toolbar">
      <in name="auth_add_show" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/auth/auth_add_show")}>新增</a></li>
      </in>
      </ul>
        
      <in name="auth_search" value="$hava_authids">
        <form role="form" id="searchForm" action={:U("admin/auth/auth_search")} method="post" > 
        <ul class="seachform1">
          <li>
          <input type="text" class="scinput1" name="auth_name" placeholder="请输入权限全称！"/>
          
          <!-- <li><span><img src="__PUBLIC__/admin/images/t05.png" /></span>搜索</li> -->
           <input type="submit" class="scbtn2" value="搜索"/>
          </li>
        </ul>
      </form>
    </in>
    </div>
    <table class="tablelist">
      <thead>
            <tr>
                <th >序号</th>
                <th >权限名称</th>
                <th >模块</th>
                <th >操作方法</th>
                <th >是否菜单</th>
                <th >路径</th>
                <th >级别</th>
                <th >操作</th>
            </tr>
        </thead>
        <tbody>
      <foreach name="info" item="vo" key="k" >
          
            <tr>
              <td>{$k+1}</td>
              <td>{$vo.auth_name}</td>
              <td>{$vo.auth_c}</td>
              <td>{$vo.auth_a}</td>
              <td><if condition="$vo.is_menu eq 0">否<else/>是</if></td>
              <td>{$vo.auth_path}</td>
              <td>{$vo.auth_level}</td>

              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="auth_edit_show" value="$hava_authids">
                      <a href={:U('admin/auth/auth_edit_show',array('id'=>$vo['auth_id']))}>编辑  </a>|&nbsp;
                    </in>
                    <in name="auth_del" value="$hava_authids">
                      <a href={:U('admin/auth/auth_del',array('id'=>$vo['auth_id']))}>删除</a>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}
      注：级别0为顶级权限，依次递减！
    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>