<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Index:css"/>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>权限编辑</li>

    </ul>
    </div>
       <form id="myForm" action={:U('admin/auth/auth_update')} method='post'>
    <div class="formbody">
    <ul class="forminfo">
  
    <li><label>权限名称 </label> <input type="text" class='dfinput' id="auth-name" placeholder="权限名称" name='auth_name'  value="{$authinfo.auth_name}"></li>
    <li><label>是否为菜单</label>
     <div class="vocation">    
    <select  name="is_menu" class="select3" >
                 <if condition="$authinfo.is_menu eq 0">
                    <option value="0" selected="selected">否</option>
                    <option value="1">是</option>
                    <else/>
                    <option value="0" >否</option>
                    <option value="1" selected="selected">是</option>
                </if>
              </select>
              </div></li>
  <li><label>父级菜单</label>
   <div class="vocation">   
<select  name="auth_pid"  class="select3">
                 <if condition="$authinfo.auth_pid eq 0">
                    <option value="0" selected="selected">无父级菜单</option>
                    <foreach name="info" item="vo" key="k" >  
                        <option value="{$vo.auth_id}" >{$vo.auth_name}</option>
                    </foreach>
                    <else/>
                      <option value="0">无父级菜单</option>
                      <foreach name="info" item="vo" key="k" >  
                        <if condition="$vo.auth_id eq $authinfo['auth_pid']">
                          <option value="{$vo.auth_id}" selected="selected">{$vo.auth_name}</option>
                          <else/>
                            <option value="{$vo.auth_id}">{$vo.auth_name}</option>
                        </if>
                        
                      </foreach>
                </if>
              </select>
              </div>
  </li> 
  <li><label>模块</label> <input type="text" class="dfinput" id="auth-c" placeholder="输入模块名称" name='auth_c' onblur="trimcheck(this);" value="{$authinfo.auth_c}" ></li> 
  <li><label>方法名称</label> <input type="text" id="auth_a" placeholder="输入方法名称" name='auth_a' value="{$authinfo.auth_a}" class="dfinput" onblur="trimcheck(this);" ></li> 
  <li><label>排序</label> 
  <div class="vocation">
              <select  name="auth_order" class="select3" >
               <if condition="$authinfo.auth_order eq 1">
                  <option value="1"selected="true">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <elseif condition="$authinfo.auth_order eq 2" />
                  <option value="1">1</option>
                  <option value="2"selected="true">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <elseif condition="$authinfo.auth_order eq 3" />
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3"selected="true">3</option>
                  <option value="4">4</option>
                  <elseif condition="$authinfo.auth_order eq 4" />
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4"selected="true">4</option>
                  <else/>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </if>
              </select>
            </div></li> 

<input type="hidden" name="auth_id" value="{$authinfo.auth_id}"/>

    <li><label>&nbsp;</label>
        <button type="button" onclick="check()" class="btn">保存</button>
    </li>
    </ul>
    
    
    </div>
</form>
<script data-cfasync="false" type="text/javascript">
  function check(){
    var authname = $("#auth-name").val();
    if(trim(authname).length == 0 ){
        alert("请填写权限名称！");
        return false;   
    }else{
        $("#myForm").submit();
    }
   
  }
  /**
   * 去除左右两端空格
   */
  function trimcheck(obj){
    var trimvalue = trim(obj.value);
    obj.value = trimvalue;
    
  }
  //删除左右两端的空格
  function trim(str){ 
　　  return str.replace(/(^\s*)|(\s*$)/g, "");
　　}


$(document).ready(function(e) {

  $(".select3").uedSelect({
    width : 152
  });
});
</script>
</body>

</html>
