<include file="Index:css"/>
<body>
  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">交易列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">

     <!--  <ul class="toolbar">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
      </ul>
      
      <ul class="toolbar">
      <in name="account_add_show" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/account/account_add_show")}>新增</a></li>
      </in>
      </ul>
        
        
      <ul class="toolbar1">
        <li><span><img src="__PUBLIC__/admin/images/t05.png" /></span>设置</li>
      </ul>
     -->
    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
                <th>序号</th>
                <th>申请时间</th>
                <th>申请人</th>
                <th>手机号</th>
                <th>提现金额</th>
                <th>开户行</th>
                <th>账号姓名</th>
                <th>账号</th>
                <th>状态</th>
                <th>确认时间</th>
                <th>操作</th>
                
        </tr>
        </thead>
        <tbody>
      <foreach name="withdraw_list" item="vo" key="k" >
          
            <tr>
              <td>{$k+1}</td>
              <td>{$vo.apply_date|date='Y-m-d',###}</td>
              <td>{$vo.apply_user}</td>
              <td>{$vo.apply_phone}</td>
              <td>{$vo.wd_money}</td>
              <td>{$vo.card_bank}</td>
              <td>{$vo.card_name}</td>
              <td>{$vo.card_num}</td>
              <td><if condition="$vo.status eq 'yes'">已转账<else/>未转账</if></td>
              <td><if condition="$vo.status eq 'yes'">{$vo.apply_date|date='Y-m-d',###}<else/></if></td>
              <td>
                  <in name="withdraw_set" value="$hava_authids"> 
                      <if condition="$vo.status eq 'no'">
                        <a href="#" onclick="set({$vo['id']})"> 确认转账</a>
                      </if>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}
  </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<include file="Index:footer"/>
<script type="text/javascript">
  function set(id_index){
      $.ajax({
                cache:false,
                type:"POST", 
                url:"{:U('admin/withdraw/withdraw_set')}",
                dataType:"json",
                data:{id:id_index},
                timeout:30000,
                error:function(data){
                    alert("确认失败！")
                },
                success:function(data){
                    if(data == 1){
                        alert("确认成功！");
                        window.location.reload();
                    }else{
                        alert("确认失败!");
                    }
                }
            });
    }
</script>