
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<include file="Index:css"/>
  <!-- sidebar start -->
 <div class="am-cf admin-main">
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">提现列表</strong> / <small>Withdraw List</small></div>
    </div>
   
    <div class="am-g">
      <div class="am-u-sm-12">

        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">序号</th>
                <th class="table-data">申请时间</th>
                <th class="table-title">申请人</th>
                <th class="table-title">手机号</th>                 
                <th class="table-type">提现金额</th>
                <th class="table-author">开户行</th>
                <th class="table-data">账号姓名</th>
                <th class="table-phone">账号</th>
                <th class="table-title">状态</th>                 
                <th class="table-type">确认时间</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="withdraw_list" item="vo" key="k" >
            <tr>
              <td>{$k+1}</td>
              <td>{$vo.apply_date|date='Y-m-d',###}</td>
              <td>{$vo.apply_user}</td>
              <td>{$vo.apply_phone}</td>
              <td>{$vo.wd_money}</td>
              <td>{$vo.card_bank}</td>
              <td>{$vo.card_name}</td>
              <td>{$vo.card_num}</td>
              <td><if condition="$vo.status eq 'yes'">已转账<else/>未转账</if></td>
              <td><if condition="$vo.status eq 'yes'">{$vo.apply_date|date='Y-m-d',###}<else/></if></td>
              <td>
                  <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <in name="withdraw_set" value="$hava_authids"> 
                      <if condition="$vo.status eq 'no'">
                        <a href="#" onclick="set({$vo['id']})"> 确认转账</a>
                      </if>
                    </in>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
          </tbody>
        </table>
    {$page}
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->
</div>
<include file="Index:footer"/>
<script type="text/javascript">
  function set(id_index){
      $.ajax({
                cache:false,
                type:"POST", 
                url:"{:U('admin/withdraw/withdraw_set')}",
                dataType:"json",
                data:{id:id_index},
                timeout:30000,
                error:function(data){
                    alert("确认失败！")
                },
                success:function(data){
                    if(data == 1){
                        alert("确认成功！");
                        window.location.reload();
                    }else{
                        alert("确认失败!");
                    }
                }
            });
    }
</script>