<include file="Index:css"/>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">数据表列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
      <form class="am-form" id="myForm" action={:U("admin/backup/backup_all")}>
      <in name="backup_all" value="$hava_authids">
        <ul class="toolbar">
          <li ><span><img src="__PUBLIC__/admin/images/leftico01.png" /></span> <a href="#" onclick="backup()">批量备份</a></li>
        </ul>
      </in>
    </div>
    <input type="hidden" id="selectAll" name="selectAll" value="">
    <table class="tablelist">
      <thead>
      <tr>
       <th><input type="checkbox" id="chkMsgId" name="chkMsgId" onclick="doCheck(this)"/></th>
                <th>序号</th>
                <th>表名称</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="list" item="vo" key="k" >
          
            <tr>
              <td><input type="checkbox" name="items" value="{$vo.tables_in_yingke}"/></td>
              <td>{$k+1}</td>
              <td>{$vo.tables_in_yingke}</td>
             
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="backup_table" value="$hava_authids">
                    <a href={:U('admin/backup/backup_table',array('table'=>$vo['tables_in_yingke']))}> 备份  </a>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>
  </form>
     {$page}


    
    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<include file="Index:footer"/>
<script type="text/javascript">
   /**  
        * 操作全选复选框事件  
        **/  
        function doCheck(obj){  
            var inputs=document.getElementsByTagName("input");  

            for(var i=0;i<inputs.length;i++){  
                if(inputs[i].type=="checkbox" && inputs[i].id!="chkMsgId") //刷选出所有复选框  
                {  
                    inputs[i].checked=obj.checked;   
                }  
            }  
        } 
        
         /**  
        * 获取所有复选框  
        **/  
        function getCheckBox()  {  
            var inputs= document.getElementsByTagName("input");  
            var chkInputs=new Array();  
            var j=0;  
            for(var i=0;i<inputs.length;i++) {  
                if(inputs[i].type=="checkbox" && inputs[i].id!="chkMsgId"&& inputs[i].checked){  
                  
                   chkInputs[j]=inputs[i].value;  
                    j++;
                }  
            }  
            return chkInputs;  
        }     
        /**
         * 复选删除
         */
        function backup(){
          var chkInputs = getCheckBox();

          var select = document.getElementById("selectAll");
          if (chkInputs != "" && chkInputs.length != 0) {
              select.value = chkInputs;
              document.getElementById("myForm").submit();
          }else{
              alert("请选择要备份项！");
              return false;
          }
         

        }

</script>