
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<include file="Index:css"/>
  <!-- sidebar start -->
 <div class="am-cf admin-main">
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">反馈列表</strong> / <small>Advice List</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <!-- <th class="table-id">ID</th>
                <th class="table-title">用户ID</th> -->
                <th class="table-title">意见类型</th>
                <th class="table-type">意见内容</th>
                <th class="table-author">联系方式</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="advice_list" item="vo" key="k" >
          
            <tr>
              <!-- <td>{$vo.id}</td>
              <td>{$vo.userid}</td> -->
              <if condition="$vo.type eq '0'">
                <td>功能意见</td>
                <elseif condition="$vo.type eq '1'"/>
                <td>安装服务</td>
                <elseif condition="$vo.type eq '2'"/>
                <td>配送服务</td>
                <elseif condition="$vo.type eq '3'"/>
                <td>售后服务</td>
              </if>
              <td>{$vo.advicecontent}</td>
              <td>{$vo.phone}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <!-- <a href={:U('admin/member/admin_edit_show',array('id'=>$vo['id']))}><span class="am-icon-pencil-square-o"></span> 查看  </a>|&nbsp; -->
                    <in name="advice_del" value="$hava_authids">
                    <a href={:U('admin/advice/advice_del',array('id'=>$vo['id']))}><span class="am-icon-trash-o"></span> 删除</a>
                    </in>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
            
          </tbody>
        </table>

    {$page}

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<include file="Index:footer"/>