<include file="Index:css"/>
<script type="text/javascript">
   //提交
    function checkPost(){
      var reg_date = $("#txtBeginDate").val();
      var reg_date2 = $("#txtEndDate").val();
      var f_content = $("#f_content").val();
      var f_phone = $("#f_phone").val();
      if(reg_date != "" && reg_date2 == ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 != ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 == "" && f_content == "" && f_phone == ""){
          alert("请填写筛选条件!");
          return false;
      }
      $("#mySearch").submit();
    }

</script>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">反馈列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
      <ul class="toolbar">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
      </ul>

        <in name="search" value="$hava_authids">
          <form id="mySearch" action="{:U('admin/feedback/search')}" method="post">
            <ul class="toolbar">
              <li><label>日期范围</label>
              起<input id="txtBeginDate" name="reg_date" value="{$reg_date}" style="width:170px;padding:7px 10px;border:1px solid #ccc;margin-right:10px;"/>
              至<input id="txtEndDate" name="reg_date2" value="{$reg_date2}" style="width:170px;padding:7px 10px;border:1px solid #ccc;" />
              </li>
            </ul>
            <input type="text" class='scinput' id="f_content" placeholder="内容" value="{$f_content}" name='f_content'/>
            <input type="text" class='scinput' id="f_phone" placeholder="手机号" value="{$f_phone}" name='f_phone' onkeyup="value=value.replace(/[^\d]/g,'')"   onblur="VeriftyPhone('f_phone');">
            <label>&nbsp;</label><input type="button" onclick="checkPost();" class="scbtn" value="搜索"/>
          </form>
        </in>
    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
       <th><input type="checkbox" name="all" id="all" onclick="checkall(this)"/></th>
                <th>序号</th>
                <th>意见分类</th>
                <th>内容</th>
                <th>反馈人</th>
                <th>联系</th>
                <th>日期</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="feedback_list" item="vo" key="k" >
          
            <tr>
              <td><input type="checkbox"  name="ids" value="{$vo.id}"/></td>
              <td>{$k+1}</td>
              <td>{$vo.f_classify}</td>
              <td>{$vo.f_content}</td>
              <td>{$vo.f_name}</td>
              <td>{$vo.f_phone}</td>
              <td>{$vo.f_date|date='Y-m-d',###}</td> 
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                 <in name="feedback_del" value="$hava_authids"> 
                    <a href="{:U('admin/feedback/feedback_del',array('id'=>$vo['id']))}">删除</a>
                  </in>
              </td> 
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}

    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<script type="text/javascript">
  /*
     *全选按钮，prop方法，是给ipnut框添加属性的
    */
    function checkall(obj){
      if(obj.checked){
        $("input[name='ids']").attr("checked", true);
      }else{
        $("input[name='ids']").attr("checked", false);
      }
    }

    function getAll(){
      if($("input[name='ids']:checked").val() == null){
        alert("请选择要删除的列表！");
        return false;
      }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
              checked.push($(this).val());
          });
        var checkStr = checked.join(",");
        var url = "{:U('admin/feedback/del_all')}?ids="+checkStr;
        window.location.href=url;
      }
    }

</script>