<include file="Index:css"/>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">日志管理</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
       <form  id="myForm" action={:U("admin/log/log_select_del")} method="post">
      <in name="log_select_del" value="$hava_authids">
      <ul class="toolbar">
        <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> 
<a href="javascript:void(0);" id="delete" onclick="del()">批量删除</a>
        </li>
      </ul>
      </in>
    </div>
    <input type="hidden" id="selectAll" name="selectAll" value="">
    <table class="tablelist">
      <thead>
      <tr>
       <th><input type="checkbox" id="chkMsgId" name="chkMsgId" onclick="doCheck(this)"/></th>
                <th>操作类型</th>
                <th>访问地址</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>访问IP</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="syslog_list" item="vo" key="k" >
          
            <tr>
              <td><input type="checkbox" name="items" value="{$vo.id}"/></td>
              <td>
                  <if condition="$vo['logtype'] eq '0'">登录
                    <elseif condition="$vo['logtype'] eq '1'"/>添加
                    <elseif condition="$vo['logtype'] eq '2'"/>删除
                    <else />编辑
                  </if>
              </td>
              <td>{$vo.viewurl}</td>
              <td>{$vo.username}</td>
              <td>{$vo.addtime|date='Y-m-d',###}</td>
              <td>{$vo.ip}</td>
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="log_del" value="$hava_authids">
                    <a href={:U('admin/log/log_del',array('id'=>$vo['id']))}>
                      <span class="am-icon-trash-o"></span> 删除</a>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}
</form>
    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<include file="Index:footer"/>
<script type="text/javascript">
      /**  
        * 操作全选复选框事件  
        **/  
        function doCheck(obj){  
            var inputs=document.getElementsByTagName("input");  

            for(var i=0;i<inputs.length;i++){  
                if(inputs[i].type=="checkbox" && inputs[i].id!="chkMsgId") //刷选出所有复选框  
                {  
                    inputs[i].checked=obj.checked;   
                }  
            }  
        } 
        
         /**  
        * 获取所有复选框  
        **/  
        function getCheckBox()  {  
            var inputs= document.getElementsByTagName("input");  
            var chkInputs=new Array();  
            var j=0;  
            for(var i=0;i<inputs.length;i++) {  
                if(inputs[i].type=="checkbox" && inputs[i].id!="chkMsgId"&& inputs[i].checked){  
                  
                   chkInputs[j]=inputs[i].value;  
                    j++;
                }  
            }  
            return chkInputs;  
        }     
        /**
         * 复选删除
         */
        function del(){
          var chkInputs = getCheckBox();

          var select = document.getElementById("selectAll");
          if (chkInputs != "" && chkInputs.length != 0) {
              select.value = chkInputs;
              document.getElementById("myForm").submit();
          }else{
              alert("请选择要删选项！");
              return false;
          }
         

        }
</script>