

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Index:css"/>

  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">授予角色</strong> / <small>Role show</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        

      </div>

       <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" action={:U("admin/member/admin_role")} method='post'>
          
      
      <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">用户名 / Admin_name</label>
            <div class="am-u-sm-9">
              <if condition="$admin_info['username'] eq 'admin'">
                  <input type="text"  placeholder="输入用户名 / Admin_name" name='userName' disabled="disabled" value='{$admin_info.username}'>
                  <else/>
                  <input type="text"  placeholder="输入用户名 / Admin_name" name='userName'  value='{$admin_info.username}'>
              </if>
             
              <small>用户名</small>
            </div>
          </div>
          
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">角色 / Role</label>
            <div class="am-u-sm-9">
              <select  name="roleid" >
                  <if condition="$admin_info.roleid eq ''">
                      <option value="0"  selected="selected">请选择角色</option>
                      <foreach name="roleInfo" item="vo" key="k" >  
                            <option value="{$vo.role_id}" >{$vo.role_name}</option>
                      </foreach>
                      <else/>
                      <option value="0">请选择角色</option>
                      <foreach name="roleInfo" item="vo" key="k" >  
                        <if condition="$vo.role_id eq $admin_info['roleid']">
                            <option value="{$vo.role_id}" selected="selected">{$vo.role_name}</option>
                          <else/>
                            <option value="{$vo.role_id}" >{$vo.role_name}</option>
                        </if>
                      </foreach>
                    </if>

              </select>
              
              <small>角色列表</small>
            </div>
          </div>
      
        
          <input type="hidden"  name='id' value='{$admin_info.id}'>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="submit" class="am-btn am-btn-primary">授予角色</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<include file="Index:footer"/>