

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Index:css"/>

  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商家资料</strong> / <small>Business information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        

      </div>

       <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          
      <form id="myForm" class="am-form am-form-horizontal" action={:U('admin/member/business_verify')} method='post'>
      <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">用户名 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-name" name='userName' disabled="disabled" 
              value="{$businessman_info.username}" readonly="true">
            </div>
          </div>
          
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">密码 </label>
            <div class="am-u-sm-9">
              <input type="password" id="user-password" name='password' value="{$businessman_info.password}" readonly="true">
            </div>
          </div>
      
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 </label>
            <div class="am-u-sm-9">
              <input type="email" id="user-email"  name='email' 
              value="{$businessman_info.email}" readonly="true">
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">手机号码 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-phone" name='phone' 
              value='{$businessman_info.phone}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">联系人姓名 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-linkman" name='linkman' 
              value='{$businessman_info.linkman}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">所在部门 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-department" name='department' 
              value='{$businessman_info.department}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">固定电话 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-telphone" name='telphone' 
              value='{$businessman_info.telphone}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">公司名称 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-phone" name='phone' 
              value='{$businessman_info.coname}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">公司所在地 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-address" name='address' 
              value='{$address_info.userpro}{$address_info.usercity}{$address_info.usertown}{$address_info.userstr}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">企业人数 </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-pcount" name='pcount' 
              value='{$businessman_info.pcount}' readonly="true">
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">主营业务 </label>
            <div class="am-u-sm-9">
              <volist name="servercategory_info" k="key" id="category"> 
                  <input type="checkbox" name="servername" id="{$key}" 
                  value ="{$category.servername}" checked="true">{$category.servername}  
              </volist> 
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">开户许可证 </label>
            <div class="am-u-sm-9">
              <img src='{$businessman_info.accounturl}'  name="accounturl" width='45' height='5' border='0'/>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">营业执照 </label>
            <div class="am-u-sm-9">
               <img src='{$businessman_info.bussinessurl}'  name="bussinessurl" width='45' height='5' border='0'/>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">税务证 </label>
            <div class="am-u-sm-9">
            
               <img src='{$businessman_info.taxurl}'  name="taxurl" width='45' height='5' border='0'/>
            </div>
          </div>
          
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">审核状态</label>
            <div class="am-u-sm-9">
              <select name="verifystatus" id="statusid" >
                 <if condition="$businessman_info.status eq '0'">
                    <option value="0">请审核</option>
                    <option value="1" selected="selected">不通过</option>
                    <option value="2" >通过</option>
                    <elseif condition="$businessman_info.status eq '1'"/>
                      <option value="0">请审核</option>
                      <option value="1" >不通过</option>
                      <option value="2" selected="selected">通过</option>
                    <else />
                      <option value="0" selected="selected">请审核</option>
                      <option value="1" >不通过</option>
                      <option value="2" >通过</option> 
                </if>
                </select>
                <input type="hidden" id="returnstatus" value="{$businessman_info.status}"/>
            </div>
          </div>
            <input type="hidden"  name='id' value='{$businessman_info.id}'>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="button" onclick="verify()" class="am-btn am-btn-primary" 
              >审核</button>
              <!-- window.location='{:U("admin/member/business_verify",array('id'=>$businessman_info['id']))}' -->
            </div>
         </form>
          </div>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<include file="Index:footer"/>
<script data-cfasync="false" type="text/javascript">
  
  function verify(){
    var myselect = document.getElementById("statusid");
    var index = myselect.selectedIndex;
    var form = document.getElementById("myForm");
    var restatus = document.getElementById("returnstatus").value;
    if (restatus == 0 && index == 1) {
      alert("请先变更审核状态操作！");
      return false;
    }else if (restatus == 1 && index == 2 ) {
      alert("请先变更审核状态操作！");
      return false;
    }else if (index == 0) {
      alert("请先变更审核状态操作！");
      return false;
    }else{
      
      form.submit();
    }
    

  }


</script>