<include file="Index:css"/>
<script type="text/javascript">

    //提交
    function checkPost(){
      var reg_date = $("#txtBeginDate").val();
      var reg_date2 = $("#txtEndDate").val();
      var phone_num = $("#phone_num").val();
      var ni_name = $("#ni_name").val();
      if(reg_date != "" && reg_date2 == ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 != ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 == "" && phone_num == "" && ni_name == ""){
          alert("请填写筛选条件!");
          return false;
      }
      $("#mySearch").submit();
    }
</script>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">用户列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
     <ul class="toolbar">
      <in name="user_add_show" value="$hava_authids">
        <li ><span><img src="__PUBLIC__/admin/images/t01.png" /></span> <a href={:U("admin/user/user_add_show")}>新增</a></li>
      </in>
      </ul>
      <form id="mySearch" action="{:U('admin/user/search')}" method="post">
        <ul class="toolbar">
          <li><label>日期范围</label>
          
          起<input id="txtBeginDate" name="reg_date" value="{$reg_date}" style="width:170px;padding:7px 10px;border:1px solid #ccc;margin-right:10px;"/>
          至<input id="txtEndDate" name="reg_date2" value="{$reg_date2}" style="width:170px;padding:7px 10px;border:1px solid #ccc;" />
          </li>
          <li>
            <input type="text" class='scinput' id="phone_num" placeholder="手机号" value="{$phone_num}" onkeyup="value=value.replace(/[^\d]/g,'')"  name='phone_num' onblur="VeriftyPhone('phone_num');"/>
          </li>
          <li>
            <input type="text" class='scinput' id="ni_name" placeholder="昵称" value="{$ni_name}" name='ni_name'>
          </li>
          <li><label>&nbsp;</label><input type="button" onclick="checkPost();" class="scbtn" value="搜索"/></li>
        </ul>
      </form>
    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
       
                <th>序号</th>
                <th>手机号</th>
                <th>ID</th>
                <th>类型</th>
                <th>昵称</th>
                <th>姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>标签</th>
                <th>职业</th>
                <th>经验值</th>
                <th>个性签名</th>
                <th>注册时间</th>
                <th>状态</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="user_list" item="vo" key="k" >
            <tr>
          
              <td>{$k+1}</td>
              <td>{$vo.phone_num}</td>
              <td>{$vo.user_id}</td>
              <td>{$vo.reg_type}</td>
              <td>{$vo.ni_name}</td>
              <td>{$vo.user_name}</td>
              <td>{$vo.sex}</td>
              <td>{$vo.birth_date|date='Y-m-d',###}</td>
              <td>{$vo.lable}</td>
              <td>{$vo.profession}</td>
              <td>{$vo.experience}</td>
              <td>{$vo.per_sign}</td>
              <td>{$vo.reg_date|date='Y-m-d',###}</td>
              <td><if condition="$vo.status eq 'start'">启用<else/>停用</if></td>
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="user_detail" value="$hava_authids"> 
                    <a href="{:U('admin/user/user_detail',array('id'=>$vo['id']))}">查看</a>|&nbsp;
                   </in>
                    <in name="user_set" value="$hava_authids"> 
                      <if condition="$vo.status eq 'start'">
                        <a href="#" onclick="set({$vo['id']},'0')"> 停用</a>
                        <else/>
                        <a href="#" onclick="set({$vo['id']},'1')"> 启用</a>
                      </if>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}


    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>

<script type="text/javascript">
    //显示操作
    function set(id_index,tag){
      $.ajax({
                cache:false,
                type:"POST", 
                url:"{:U('admin/user/user_set')}",
                dataType:"json",
                data:{id:id_index,status:tag},
                timeout:30000,
                error:function(data){
                    alert("设置失败！")
                },
                success:function(data){
                    if(data == 1){
                        alert("设置成功！");
                        window.location.reload();
                    }else{
                        alert("设置失败!");
                    }
                }
            });
    }
</script>