<include file="Index:css"/>
<script type="text/javascript">
  //提交
    function checkPost(){
      var reg_date = $("#txtBeginDate").val();
      var reg_date2 = $("#txtEndDate").val();
      var room_name = $("#room_name").val();
      var com_content = $("#com_content").val();
      var com_phone = $("#com_phone").val();
      if(reg_date != "" && reg_date2 == ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 != ""){
          alert("请选择时间区间!");
          return false;
      }else if(reg_date == "" && reg_date2 == "" && com_content == "" && com_phone == ""&& room_name== ""){
          alert("请填写筛选条件!");
          return false;
      }
      $("#mySearch").submit();
    }


</script>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">评论列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
      <in name="del_all" value="$hava_authids"> 
        <ul class="toolbar">
          <li ><span><img src="__PUBLIC__/admin/images/t03.png" /></span> <a href="#" onclick="getAll()">批量删除</a></li>
        </ul>
      </in>
       <in name="search" value="$hava_authids">
          <form id="mySearch" action="{:U('admin/comment/search')}" method="post">
            <ul class="toolbar">
              <li><label>日期范围</label>
              起<input id="txtBeginDate" name="reg_date" value="{$reg_date}" style="width:170px;padding:7px 10px;border:1px solid #ccc;margin-right:10px;"/>
              至<input id="txtEndDate" name="reg_date2" value="{$reg_date2}" style="width:170px;padding:7px 10px;border:1px solid #ccc;" />
              </li>
            </ul>
            <input type="text" class='scinput' id="room_name" placeholder="房间" value="{$room_name}" name='room_name'/>
                <input type="text" class='scinput' id="com_content" placeholder="内容" value="{$com_content}" name='com_content'/>
                <input type="text" class='scinput' id="com_phone" placeholder="手机号" value="{$com_phone}" name='com_phone' onkeyup="value=value.replace(/[^\d]/g,'')"   onblur="VeriftyPhone('com_phone');">
              <label>&nbsp;</label><input type="button" onclick="checkPost();" class="scbtn" value="搜索"/>
          </form>
        </in>




    </div>
    
    <table class="tablelist">
      <thead>
      <tr>
       <th><input type="checkbox" name="all" id="all" onclick="checkall(this)"/></th>
                <th>序号</th>
                <th>房间</th>
                <th>评分</th>
                <th>评论内容</th>
                <th>评论人</th>
                <th>手机号</th>
                <th>时间</th>
                <th>操作</th>
        </tr>
        </thead>
        <tbody>
      <foreach name="comment_list" item="vo" key="k" >
            <tr>
              <td><input type="checkbox"  name="ids" value="{$vo.id}"/></td>
              <td>{$k+1}</td>
              <td>{$vo.room_name}</td>
              <td>{$vo.score}</td>
              <td>{$vo.com_content}</td>
              <td>{$vo.com_user}</td>
              <td>{$vo.com_phone}</td>
              <td>{$vo.com_date|date='Y-m-d',###}</td>
              <td style="text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;">
                  <in name="comment_del" value="$hava_authids"> 
                    <a href="{:U('admin/comment/comment_del',array('id'=>$vo['id']))}">删除</a>|&nbsp;
                   </in>
                    <in name="comment_set" value="$hava_authids"> 
                      <if condition="$vo.is_display eq 'no'">
                        <a href="#" onclick="set({$vo['id']},'0')"> 显示</a>
                        <else/>
                        <a href="#" onclick="set({$vo['id']},'1')"> 不显示</a>
                      </if>
                    </in>
              </td>
            </tr>
            </foreach>
        </tbody>
    </table>

     {$page}


    </div>
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  </script>

</body>
<script type="text/javascript">
  /*
     *全选按钮，prop方法，是给ipnut框添加属性的
    */
    function checkall(obj){
      if(obj.checked){
        $("input[name='ids']").attr("checked", true);
      }else{
        $("input[name='ids']").attr("checked", false);
      }
    }

    function getAll(){
      if($("input[name='ids']:checked").val() == null){
        alert("请选择要删除的列表！");
        return false;
      }else{
        var checked = [];
        $('input[name="ids"]:checked').each(function(){
              checked.push($(this).val());
          });
        var checkStr = checked.join(",");
        var url = "{:U('admin/comment/del_all')}?ids="+checkStr;
        window.location.href=url;
      }
    }
    //显示操作
    function set(id_index,tag){
      $.ajax({
                cache:false,
                type:"POST", 
                url:"{:U('admin/comment/comment_set')}",
                dataType:"json",
                data:{id:id_index,status:tag},
                timeout:30000,
                error:function(data){
                    alert("设置失败！")
                },
                success:function(data){
                    if(data == 1){
                        alert("设置成功！");
                        window.location.reload();
                    }else{
                        alert("设置失败!");
                    }
                }
            });
    }
</script>